* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(./arena.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 80%;
    background-attachment: fixed;
}

.title {
    width: 100%;
    color: white;
    display: flex;
    justify-content: center;
}

.players-container {
    background-color: rgb(162, 170, 173, .9);
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.currentRoster {
    background-color: rgb(111, 38, 61, .7);
}

.playerHistory {
    background-color: rgb(35, 97, 146, .7);
}

.coach-container {
    background-color: rgb(50, 50, 50);
    color: white;
}

.mascot-container {
    background-color: rgb(50, 50, 50);
    color: white;
}

.currentCoachCard {
    background-color: rgb(162, 170, 173, .9);
}